.responsive-form-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  overflow-y: auto;
}
.register {
  margin-top: 7%;
}

@keyframes slideFadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-register {
  animation: slideFadeIn 0.8s ease-out;
}
input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 1px solid #dc3545;
}

.validation-message {
  display: none;
  font-size: 0.8rem;
}

input.ng-touched.ng-invalid + .validation-message,
textarea.ng-touched.ng-invalid + .validation-message {
  display: block;
}
