.fixed-image {
  width: 100%;
  margin-top: 1%;
  height: 200px; /* or adjust as needed */
  object-fit: cover;
  border-top-left-radius: 0.5rem; /* for rounded-top effect */
  border-top-right-radius: 0.5rem;
}
.button1{
      width:8rem;
      height: 3rem;
}