.container-fluid{
      margin-top: 12%;
}

/* Left menu look */
.list-group-item {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 0 !important;
}

.list-group-item:hover {
  background-color: #f1f1f1;
}

.list-group-item.active {
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
  border: none;
}

/* Right panel */
.card {
  border-left: 1px solid #eee;
}
.btn{
      margin-left: 38% !important;
}