  .btn-search {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 2px transparent;
  }

  .btn-search:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 0 2px #0d6efd; /* blue ring effect */
    transform: scale(1.05); /* slight zoom on hover */
  }

  .btn-search i {
    transition: color 0.3s;
  }

  .btn-search:hover i {
    color: #0d6efd;
  }
.aLink a:hover{
      color: rgb(13, 118, 247) !important;
      text-decoration: underline !important;

}
