.container{
      margin-top: 12% !important;
      margin-left: 2% !important;
}
/* Card Base Style */
.service-card {
  width: 25%;
  background-color: #212529; /* Bootstrap dark bg */
  transition: transform 0.3s ease;
  border: 2px solid #f10586;
  /* box-shadow: 0 0.25rem 0.5rem #f10586; */
}

/* Hover Effect */
.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 1rem 2rem rgba(0, 123, 255, 0.9); /* Blue glow */
}

/* Image Style */
.service-img {
  height: 250px;
  width: 300px;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid #007bff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Image Hover Shadow */
.service-img:hover{
  transform: scale(1.05);
  box-shadow: 0 0.75rem 1.5rem rgba(0, 123, 255, 0.6);
}
