<div class="container-fluid">
  <h3 class="text-pink mb-4">✏ Edit Wedding Card</h3>

  

  <!-- Form -->
  <form  (ngSubmit)="onUpdateCard()" #cardForm="ngForm" novalidate>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Card Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cardData.name"
            name="name"
            required
            #name="ngModel"
          />
          <div *ngIf="name.invalid && name.touched" class="text-danger">
            Card name is required.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Price</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="cardData.price"
            name="price"
            required
            #price="ngModel"
            min="0"
          />
          <div *ngIf="price.invalid && price.touched" class="text-danger">
            Price is required and must be positive.
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea
        class="form-control"
        [(ngModel)]="cardData.description"
        name="description"
      ></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Upload Image</label>
      <input
        type="file"
        (change)="onImageSelected($event)"
        class="form-control"
        accept="image/*"
      />
    </div>

    <div class="mb-3" *ngIf="cardData.imageUrl">
      <label class="form-label">Preview</label><br />
      <img
        [src]="cardData.imageUrl"
        alt="Wedding Card Image"
        class="img-fluid rounded shadow"
        style="max-width: 200px;"
      />
    </div>

    <button
      type="submit"
      class="btn btn-outline-info"
      [disabled]="cardForm.invalid"
    >
      Update Card
    </button>
    <button type="button" class="btn btn-secondary ms-2" (click)="onCancel()">
      Cancel
    </button>
  </form>
</div>
